body{
    background: linear-gradient(rgba(255, 255, 255, 0.964),orange,red);
    background-attachment: fixed;
}
#img1{
    border-radius: 10px;
}
#img1:hover{
    box-shadow: 15px 15px 15px rgba(0,0 ,0 ,0.4);
    transform: scale(1.05);
    transition: 0.5s;
}
iframe{
    box-shadow: 15px 15px 15px rgba(0,0 ,0 ,0.4);
    
}
#mail1:hover{
color: orange;
transition: 0.5s;
}
.nov{
    margin: 0%;
    padding: 0%;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: rgb(241, 90, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border-radius: 5px;
}
.nav{
    float: left;
    border-right: 1px solid #fadf18;
    border-radius: 5px;

}
.sa{
    display: block;
    padding: 0 28px;
    color: rgb(206, 250, 28);
    text-decoration: none;

}
.nav:hover{
    background-color: #13dd67;
    transform: scale(1.09);
    transition: 0.5s;
    text-decoration: none;
}
/*Nav ,Organize  */ 